@media (max-width: 1180px) {
  /* header */
  .burger-bar-div{
    width: 50%;
  }
  .header-arrow{
    width: 50%;
  }
  .nextpg-arrow-header{
    width: 100%;
  }
  /* development basic four */
  .dev-a {
    font-size: 38px;
  }
  .back-a {
    font-size: 22px;
  }
  .hover-dev-a {
    top: 34%;
    right: -50px;
  }
  .hover-stick-2 {
    top: 85%;
    left: -50px;
  }
  .hover-stick-3 {
    top: 71%;
    left: -50px;
  }
  .hover-stick-4 {
    top: 71%;
    right: -5px;
  }
  .digital-stick-1{
    width: 40%;
    top: 0%;
    right: -4%;
    display: none;
  }
  .digital-stick-2{
    width: 40%;
    top: 100%;
    right: 64%;
    display: none;
  }
  @keyframes digital-hover{
    from {
        display: block;
        top: 0;
        right: -4%;
    }
    to {
        top: 100%;
        right: 64%;
        display: block;
    }
  }
  /* basic design six */
  .about-course{
    width: 80%;
  }
  /* news page */
  .news-content{
    width: 80%;
  }
}
@media (max-width: 1024px) {
  /* header */
  .social-h {
    font-size: 12px;
  }
  .social-h::after {
    width: 50px;
  }
  .social-links {
    font-size: 10px;
    margin-left: 14px;
  }
  .sign-up {
    font-size: 14px;
    padding: 10px 50px;
  }
  .sign-in {
    font-size: 14px;
    padding: 10px 30px;
  }
  .menu-social{
    align-items: flex-start;
    flex-direction: column;
  }
  .menu-social-div{
    margin: 15px 0 30px 0;
  }
  /* development basic four */
  .dev-a {
    font-size: 30px;
  }
  .back-a {
    font-size: 22px;
  }
  .hover-dev-a {
    top: 31%;
    right: -50px;
    width: 50%;
    right: -20px;
  }
  .hover-stick-2 {
    top: 82%;
    left: -50px;
    left: -20px;
  }
  .hover-stick-3 {
    top: 68%;
    left: -50px;
    left: -20px;
  }
  .hover-stick-4 {
    top: 68%;
    right: -5px;
  }
  .digital-stick-1{
    width: 40%;
    top: 0%;
    right: -4%;
    display: none;
  }
  .digital-stick-2{
    width: 40%;
    top: 100%;
    right: 64%;
    display: none;
  }
  @keyframes digital-hover{
    from {
        display: block;
        top: 0;
        right: -4%;
    }
    to {
        top: 100%;
        right: 64%;
        display: block;
    }
  }
}
@media (max-width: 768px) {
  header {
    background-color: inherit;
    padding: 0 10%;
  }
  .burger-bar-div {
    margin-top: 20px;
    width: 42px;
    z-index: 11;
  }
  .bar {
    background-color: #eddfd8;
  }
  .burger-bar-div.opened .stik1{
    background-color: #662E86;
  }
  .burger-bar-div.opened .stik2{
    background-color: #662E86;
  }
  .logo-div.opened .main-logo{
    display: block;
  }
  .logo-div.opened .responsive-logo{
    display: none;
  }
  .header-arrow{
    display: none;
  }
  .social-div {
    display: none;
  }
  .main-logo {
    display: none;
  }
  .logo-div {
    z-index: 11;
  }
  .responsive-logo {
    display: block;
  }
  .menu {
    left: 0;
    width: 100%;
  }
  @keyframes overlay-menu{
    from{
        width: 40%;
    }
    to {
        width: 100%;
    }
  }
  .menu.open{
    display: block;
    animation: overlay-menu .25s;
  }
  .overlay {
    grid-template-columns: 1fr;
    overflow-y: auto;
    background-size: cover;
    background-position: -75px center;
    grid-auto-rows: auto;
  }
  .overlay::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .navigation {
    padding: 17vh 36px 0 0;
    border: none;
  }
  .nav-a{
    font-size: 25px;
  }
  .sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
  .nav-sign-in {
    display: block;
  }
  .responsive-sign-in{
    display: none;
  }
  .contact-div{
    padding-top: 0;
  }
  .contact-h{
    margin-top: 28px;
    font-size: 30px;
  }
  .info-img{
    width: 21px;
    margin-right: 16px;
  }
  .info-a{
    font-size: 17px;
  }
  .members-div {
    height: 300px;
    padding-bottom: 90px;
    grid-column: auto;
    flex-wrap: wrap;
  }
  .members{
    width: 40%;
    height: 40px;
  }

  /* development basic 4 */
  .course-main{
    width: 100%;
    margin-left: 0;
    background-size: cover;
  }
  .dev-basic-four {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    overflow-y: auto;
  }
  .dev-basic-four::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .dev-child-div {
    border: none;
    border-top: 4px solid #eddfd8;
  }
  .dev-child-div:nth-child(2){
    height: 70vh;
    align-items:flex-end;
    padding-bottom: 20vh;
  }
  .dev-child-div:nth-child(3){
    border-top: 4px solid #eddfd8;
  }
  .dev-child-div:last-child,
  .dev-child-div:first-child{
    border: none;
  }
  .dev-child-div:last-child{
    height: 0vh;
  }
  .dev-a-div {
    width: 100%;
    text-align: end;
  }
  .dev-a-img {
    margin-top: 12px;
    width: 53px;
  }
  .box-1 {
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    grid-row: auto;
    background: linear-gradient(#292c2c, #292c2ce7, #292c2cc2, #292c2c00);
    z-index: 1;
  }
  .back-a {
    width: 100%;
    height: 20vh;
    grid-row: auto;
    padding: 6vh 8% 0 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: none;
  }
  .back-a:hover{
    padding: 0 8% 0 0;
    background-color: inherit;
  }
  .back-a span {
    font-size: 12px;
    line-height: 16px;
  }

  /* inside course */
  /* basic design */
  .basic-design-shadow{
    left: 0;
    grid-template-columns: 1fr;
  }
  .backto-page-space{
    background-color: #eddfd8;
  }
  .bk-img{
    left: 0;
    background-position-x: -300px;
    background-size: cover;
  }
  .design-six-grid{
    left: 0;
    grid-template-columns: 1fr;
  }
  .course-grid{
    background-color: #eddfd800;
    position: fixed;
  }
  .course-info-a{
    background: linear-gradient(#F2EBE7, #f2ebe7e1, #f2ebe7a2,  #f2ebe700);
    color: #662E86;
  }
  .main-arrow{
    display: none;
  }
  .responsive-arrow{
    display: block;
  }
  .course-fraction{
    padding-right: 0;
    padding-top: 22vh;
    justify-content: center;
  }
  .course-h4{
    font-size: 16px;
    line-height: 21px;
  }
  .course-h2{
    margin-bottom: 31px;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
  }
  .course-details{
    font-size: 15px;
    line-height: 20px;
  }
  .course-detail-span{
    font-size: 23px;
    line-height: 31px;
  }
  .sign-up-1{
    position: fixed;
    bottom: 7%;
    right: 7%;
    font-size: 15px;
    line-height: 20px;
    padding: 7px 13px 7px 20px;
  }
  .course-article{
    width: 100%;
  }
  .course-paragraph{
    font-size: 12px;
    line-height: 19px;
  }
  .sign-up-course{
    width: 100%;
    margin-bottom: 51px;
  }
  .syllabus{
    font-size: 10px;
    line-height: 16px;
  }
  .syllabus-img{
    width: 19px;
    margin-right: 19px;
  }
  .lecturer-h{
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 59px;
  }
  .lecturer{
    font-size: 17px;
    line-height: 22px;
  }
  .lecturer-position{
    font-size: 14px;
    line-height: 19px;
  }
  .nextpg-arrow{
    width: 32px;
  }

  /* projects page */
  .projects-main{
    overflow-y: auto;
    position: fixed;
  }
  .projects-main::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .vertical-grid-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .vertical-grid{
    border: none;
    border-bottom: 4px solid #EDDFD8;
    height: 33vh;
    text-align: center;
  }
  .vertical-grid:first-child{
    display: block;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    background: linear-gradient(#292c2c, #292c2ce7, #292c2cc2, #292c2c00);
  }
  .vertical-grid:nth-child(2){
    height: 50vh;
    align-items: flex-end;
    padding-bottom: 15vh;
  }
  /* student projects */
  .project-grid{
    grid-template-columns: 1fr;
  }
  .box-2{
    grid-template-columns: 1fr;
  }
  .project-child-div{
    border: none;
    border-bottom: 4px solid #EDDFD8;
  }
  .project-child-div:last-child{
    border: none;
  }

  /* news page */
  .news-main{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/news-responsive.png);
    background-size: cover;
  }
  .news-blur{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .news-section{
    overflow-y: auto;
    padding: 0;
    padding-top: 20vh;
    margin: 0 auto;
    height: 100%;
  }
  .news-section::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .news-header{
    margin-left: 6%;
  }
  .news-box{
    margin: 0 auto;
    width: 88%;
    overflow-y: unset;
    height: 100%;
  }
  .news-content{
    width: 100%;
  }
  .news-content:last-child{
    padding-bottom: 20vh;
  }
}
@media (max-width: 425px){
  /* news page */
  .news-header{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10%;
  }
  .news-par{
    font-size: 13px;
    line-height: 15px;
  }
  .more-span{
    font-size: 14px;
    line-height: 19px;
    margin-right: 16px;
  }
  .news-more-info-arrow{
    width: 37%;
  }
}