@media (max-width: 1150px) {
  /* development basic four */
  .dev-a {
    font-size: 38px;
  }
  .back-a {
    font-size: 22px;
  }
  .hover-dev-a {
    top: 34%;
    right: -50px;
  }
  .hover-stick-2 {
    top: 85%;
    left: -50px;
  }
  .hover-stick-3 {
    top: 71%;
    left: -50px;
  }
  .hover-stick-4 {
    top: 71%;
    right: -5px;
  }
  .digital-stick-1{
    width: 40%;
    top: 0%;
    right: -4%;
    display: none;
  }
  .digital-stick-2{
    width: 40%;
    top: 100%;
    right: 64%;
    display: none;
  }
  @keyframes digital-hover{
    from {
        display: block;
        top: 0;
        right: -4%;
    }
    to {
        top: 100%;
        right: 64%;
        display: block;
    }
  }
}
@media (max-width: 1024px) {
  /* header */
  .social-h {
    font-size: 12px;
  }
  .social-h::after {
    width: 50px;
  }
  .social-links {
    font-size: 10px;
    margin-left: 14px;
  }
  .sign-up {
    font-size: 14px;
    padding: 10px 50px;
  }
  .sign-in {
    font-size: 14px;
    padding: 10px 30px;
  }
  /* development basic four */
  .dev-a {
    font-size: 30px;
  }
  .back-a {
    font-size: 22px;
  }
  .hover-dev-a {
    top: 31%;
    right: -50px;
    width: 50%;
    right: -20px;
  }
  .hover-stick-2 {
    top: 82%;
    left: -50px;
    left: -20px;
  }
  .hover-stick-3 {
    top: 68%;
    left: -50px;
    left: -20px;
  }
  .hover-stick-4 {
    top: 68%;
    right: -5px;
  }
  .digital-stick-1{
    width: 40%;
    top: 0%;
    right: -4%;
    display: none;
  }
  .digital-stick-2{
    width: 40%;
    top: 100%;
    right: 64%;
    display: none;
  }
  @keyframes digital-hover{
    from {
        display: block;
        top: 0;
        right: -4%;
    }
    to {
        top: 100%;
        right: 64%;
        display: block;
    }
  }
}
@media (max-width: 768px) {
  header {
    background-color: inherit;
    padding: 0 10%;
  }
  .burger-bar-div {
    z-index: 11;
  }
  .bar {
    background-color: #eddfd8;
  }
  .social-div {
    display: none;
  }
  .main-logo {
    display: none;
  }
  .logo-div {
    z-index: 11;
  }
  .responsive-logo {
    display: block;
  }
  .menu {
    left: 0;
    width: 100%;
  }
  .overlay {
    grid-template-columns: 1fr;
    overflow-x: hidden;
    overflow-y: auto;
    background-size: cover;
    background-position: -75px center;
  }
  .navigation {
    padding: 17vh 36px 0 0;
  }
  .nav-sign-in {
    display: block;
    width: 100%;
  }
  .members-div {
    height: 40vh;
    grid-column: auto;
  }

  /* development basic 4 */
  .devBasicFour-main,.digital-five-main {
    width: 100%;
    margin-left: 0;
    background-size: cover;
  }
  .dev-basic-four {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .dev-child-div {
    border: none;
    border-top: 4px solid #eddfd8;
  }
  .dev-child-div:nth-child(2){
    height: 70vh;
    align-items:flex-end;
    padding-bottom: 18vh;
  }
  .dev-child-div:nth-child(3){
    border-top: 4px solid #eddfd8;
  }
  .dev-child-div:last-child,
  .dev-child-div:first-child{
    border: none;
  }
  .dev-child-div:last-child{
    height: 0vh;
  }
  .dev-a-div {
    width: 100%;
    text-align: end;
  }
  .dev-a-img {
    margin-top: 12px;
    width: 53px;
  }
  .box-1 {
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    grid-row: auto;
    background: linear-gradient(#292c2c, #292c2ce7, #292c2cc2, #292c2c00);
    backdrop-filter: blur(4px);
    z-index: 1;
  }
  .back-a {
    width: 100%;
    height: 20vh;
    grid-row: auto;
    padding: 0 8% 0 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: none;
  }
  .back-a:hover{
    padding: 0 8% 0 0;
    background-color: inherit;
  }
  .back-a span {
    font-size: 12px;
    line-height: 16px;
  }
}
