@media(max-width:1200px){

    /* learn-design */
    .dev-a{
        font-size: 40px;
    }
    /* development-prof */
    .back-a{
        font-size: 130%;
    }
}

@media(max-width:1000px){
   
   
    /* learn-design */
    .dev-a{
        font-size: 32px;
    }
    /* development-prof */
    .back-a{
        font-size: 130%;
    }
}



@media(max-width:768px){
    .main-content{
        width:100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin-left: 0;
    }
    .box2{
        height: 50vh;
        border-bottom: 5px solid #EDDFD8;
        border-left:none ;
        
    }
    .hover-dev-a1{
        display: none;
    }
    .dev-a:hover div{
        display:none;
    }
    header {
        background-color: inherit;
        padding: 0 10%;
      }
    .burger-bar-div{
        margin-top: 20px;
        width: 42px;
        z-index: 11;
    }
    
    
    
    


    .header-arrow{
        display: block;
    }
    .social-div{
        display: none;
    }
    .logo-div :nth-child(1){
        display: none;
    }
    .logo-div :nth-child(2){
        display: block;
    }


    /* learn-design */
    .page3{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .main-content2{
        width: 100%;
        margin-left: 0;
        background-size: cover;
    }
    .block{
        height: 33vh;
        border-bottom: 4px solid #EDDFD8;;

    }
    .vertical-grid{
        display: block;
        border: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 20vh;
        width: 100%;
        background: linear-gradient(#292c2c, #292c2ce7, #292c2cc2, #292c2c00);
        text-align: center;
    }
    
    .back-a {
        width: 100%;
        height: 20vh;
        grid-row: auto;
        padding: 6vh 8% 0 0;
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: none;
    }
    .back-a span{
        font-size: 12px;
        line-height: 27px;
    }
    .dev-a-img {
        margin-top: 12px;
        width: 53px;
    }
    .block:hover .dev-a{
        display: none;
    }
    
    /* development-prof */
    .back-a{
        font-size: 130%; 
    }

    /* development-profesional */
    .main-content5{
        width: 100%;
        margin-left: 0;
        background-size: cover;
    }
    .project-grid{
        grid-template-columns: 1fr;
    }
    .box1 {
        width: 100%;
        height: 20vh;
        position: fixed;
        top: 0;
        left: 0;
        grid-row: auto;
        background: linear-gradient(#292c2c, #292c2ce7, #292c2cc2, #292c2c00);
        z-index: 1;
        border:none;
    }
    .dev-a-div {
        width: 100%;
        text-align: end;
    }
    .back-a:hover {
        padding: 0 8% 0 0;
        background-color: inherit;
    }
    .dev-a:hover div {
        display: block;
    }
    .back-a{
        font-size: 18px;
    }
    .box-2 {
        grid-template-columns: 1fr;
    }
    .project-child-div {
        border: none;
        border-bottom: 4px solid #EDDFD8;
    }


}

