/* მთავარი  */


.wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.burger{
    display: flex;
    justify-content: center;
    margin-top: 59px;
  
}
.fa-grip-lines{
   font-size: 40px;
   color: #662E80;
}
.slidebar{
    position: sticky;
    width: 12.8vh;
    height: 1080PX;
    background-color: #EDDFD8;
}
.social{
    display: flex;
    justify-content: space-between;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    width: 14px;
    height: 450px;
    margin: 0 auto;
    margin-top: 255px;
    margin-bottom: 196px;
    
}
.icon{
    width: 44px;
    height: 61px;
    margin: 0 auto;
}
.main-content{
    width: 1616px;
    height: 1080px;
    background: url(../images/main.png) repeat, linear-gradient(rgb(0 0 0 / 100%) 100%, #FFFF 100%);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
 
}
.left-block{
    border-right: 6px solid #EDDFD8;
    
}
.left-block a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: solid 10px;
    font-size: 50px;
    color:#EDDFD8 ;
}
.left-block a h3{
    padding-top: 540px;
}

.right-block a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: 6px solid #EDDFD8;
    border-top: 6px solid #EDDFD8;
    font-size: 50px;
    color:#EDDFD8 ;

}
.right-block a h3{
    padding-top: 540px;
}
.social :nth-child(1){
    font-weight: bold;
}
.social :nth-child(2){
    font-weight: bold;
}
.social :nth-child(3){
    font-weight: bold;
}
.social :nth-child(4){
    font-size: 10px;
}
.social :nth-child(5){
    font-size: 10px;
}

/* სწავლება1 */
.back{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 123px;
}
.fa-arrow-left{
    font-size: 40px;
    margin: 0 auto;
    color:#662E80 ;
}
.social1{
    display: flex;
    justify-content: space-between;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    width: 14px;
    height: 450px;
    margin: 0 auto;
    margin-top: 123px;
    margin-bottom: 196px;
}
.main-content2{
    background: url(../images/learn.png) repeat, linear-gradient(rgb(0 0 0 / 100%) 100%, #FFFF 100%);
    width: 1616px;
    height: 1080px;
    background-position: center;
    background-size: cover;
    display: flex;

}
.block1{
    width: 33%;
    border-right: 6px solid #EDDFD8;

}
.block1 a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: solid 10px;
  
}
.block1 a h3{
    padding-top: 498px;
    font-size: 50px;
    color:#EDDFD8 ;
}

.block2{
    width: 33%;
    border-right: 6px solid #EDDFD8;
}
.block2 a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: solid 10px;
   
}
.block2 a h3{
    padding-top: 498px;
    font-size: 50px;
    color:#EDDFD8 ;
}
.block3{
    width: 33%;
}
.block3 a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: solid 10px;
   
}
.block3 a h3{
    padding-top: 498px;
    font-size: 50px;
    color:#EDDFD8 ;
}
/* design3 */
.main-content3{
    width: 1616px;
    height: 1080px;
    background: url(../images/main.png) repeat, linear-gradient(rgb(0 0 0 / 100%) 100%, #FFFF 100%);
    background-position: center;
    background-size: cover;

}
.basic{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}

.box{
    grid-row: 1/3;
    padding: 176px 44px 185px 34px;
   background-color:#232221;
   
}
.design{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box :nth-child(1){
    font-size: 27px;
    line-height:36px ;
}
.box :nth-child(){
    font-size: 20px;
    line-height:27px ;
}
.fa-arrow-left{
    margin-top: 26px;
}
.grafic{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.box1{
    width: 316px;
  
}
.grafic h3{
    font-size: 50px;
}
/* .box2{
    width: 426px;
} */
.eto:hover {
  
    background-color: #EDDFD8;
   
}