/* მთავარი  */


.wrapper{
    display: flex;
    width: 1920px;
    margin: 0 auto;
}
.burger{
    display: flex;
    justify-content: center;
    margin-top: 59px;
  
}
.fa-grip-lines{
   font-size: 40px;
}
.slidebar{
    position: sticky;
    width: 12.8vh;
    height: 1080PX;
    background-color: #EDDFD8;
}
.social{
    display: flex;
    justify-content: space-between;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    width: 14px;
    height: 450px;
    margin: 0 auto;
    margin-top: 255px;
    margin-bottom: 196px;
    
}
.icon{
    width: 44px;
    height: 61px;
    margin: 0 auto;
}
.main-content{
    width: 1616px;
    height: 1080px;
    /* background-image: url(../images/Layer1.jpg.jpg); */
    background: url(../images/main.png) repeat, linear-gradient(rgb(0 0 0 / 100%) 100%, #FFFF 100%);
    background-position: center;
    background-size: cover;
    display: flex;
}
.left-block{
    width: 50%;
    border-right: 6px solid #EDDFD8;
    
}
.left-block a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: solid 10px;
    font-size: 50px;
    color:#EDDFD8 ;
}
.left-block a h3{
    padding-top: 540px;
}
.right-block{
    width: 50%;
}
.right-block a{
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: 6px solid #EDDFD8;
    border-top: 6px solid #EDDFD8;
    font-size: 50px;
    color:#EDDFD8 ;

}
.right-block a h3{
    padding-top: 540px;
}
.social :nth-child(1){
    font-weight: bold;
}
.social :nth-child(2){
    font-weight: bold;
}
.social :nth-child(3){
    font-weight: bold;
}
.social :nth-child(4){
    font-size: 10px;
}
.social :nth-child(5){
    font-size: 10px;
}